{% extends 'base.html' %}
{% import 'macros/archie.html' as archie %}

{% set logo = 'hq' %}
{% set jsPackName = 'main' %}
{% set context = data.text %}
{% set series = 'TESTSERIES' %}

{% block content %}
  <main>    
    <div class="pg-main">
      <!-- CONTENT START -->
        <h1 class="graphic-title">{{ context.title }}</h1>
        {{ archie.split_grafs(context.prose) }}
        <div id="graphic" class="graphic"></div>
        <ul class="graphic-footer">
          {% if context.note %}<li>Note: {{ context.note }}</li>{% endif %}
          {% if context.source %}<li>Source: {{ context.source }}</li>{% endif %}
          {% if context.credit %}<li>Credit: {{ context.credit }}</li>{% endif %}
        </ul>
      <!-- CONTENT END -->
    </div><!-- /end .pg-main -->
  </main>
{% endblock content %}

{% block inline_data %}
{% if data.data %}
<script>
  window.DATA = {{ data.data|dump }};
</script>
{% endif %}
{% endblock inline_data %}
