
body#www-propublica-org {
	padding-top: 6em;
	@include breakpoint-min(sm) {
		padding-top: 7.5em;
	}
	@include breakpoint-min(md) {
		padding-top: 9.5em;
	}
	@include breakpoint-min(lg) {
		padding-top: 10.5em;
	}
	@include breakpoint-min(xl) {
		padding-top: 9em;
	}

	&.home {
		@include breakpoint-min(lg) {
			padding-top: 11.5em;
		}
	}

	&.site-illinois {
		padding-top: 7em;
		@include breakpoint-min(md) {
			padding-top: 9em;
		}
		@include breakpoint-min(lg) {
			padding-top: 10em;
		}
	}
}

.masthead-wrap {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: $page-bg-color;

	&:before {
		@include breakpoint-min(md) {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: $scale-4;
			background-color: $bg-low-contrast;
		}
	}

	&.compact {
		position: fixed;
		top: 0;

		&:before {
			display: none;
		}
	}
}

.masthead {
	position: relative;
	color: $pp-blue;
	font-family: $fonts-sans;
	font-size: $scale-5;
	padding-top: $scale-3;
	border-bottom: 3px solid $pp-blue;
	// transition: $masthead-transition;
	transition: unset;
	@include breakpoint-min(sm) {
		padding-top: $scale-4;
	}
	@include breakpoint-min(md) {
		padding-top: 3.5em;
	}
	@include breakpoint-min(lg) {
		.home & {
			padding-top: 4.5em;
			border-width: 6px;
		}
	}

	a {
		border: none;
	}

	.icon {
		width: 1em;
		height: 1em;
		vertical-align: -0.2em;
	}

	.cta {
		display: none;
	}

	.icon + .cta {
		margin-left: 0.5em;
	}

	.email-nav a.cta,
	.extras-nav-item a,
	.more-nav > h2:first-child,
	.section-nav-item a {
		display: block;
		color: $pp-blue;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: $letter-spacing-base;
		padding: 0.5em;
		transition: none;

		&:focus,
		&:hover {
			cursor: pointer;
			color: white;
			background-color: $pp-blue;
		}
	}


	// ORG NAV

	> .org-nav {
		display: none;
		@include breakpoint-min(md) {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			font-size: $scale-4;
		}

		ul {
			display: flex;
		}
	}

	.org-nav-item a {
		display: block;
		font-weight: bold;
		color: $pp-blue;
		padding: 1.5em 1em 0.5em;
	}

	.org-nav-item a:focus,
	.org-nav-item a:hover {
		color: $link-color;
	}

	.org-nav-item.current a {
		color: white;
		background-color: $pp-blue;
		cursor: default;
	}


	// LOGO

	.logo {
		transition: unset;
		display: block;
		width: 14em;
		margin-bottom: $scale-2;
		@include breakpoint-min(sm) {
			width: 20em;
		}
		@include breakpoint-min(md) {}
		@include breakpoint-min(lg) {
			.home & {
				width: 30em;
				margin-bottom: $scale-3;
			}
		}
		@include breakpoint-min(xl) {
			float: left;
			margin-bottom: 1em;

			.home & {
				float: none;
			}
		}

		.site-illinois & {
			@include breakpoint-min(sm) {
				float: left;
				margin-bottom: 1em;
			}
		}
	}


	// ACTION NAV

	.action-nav {
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 0 0 0.25em 0.25em;
		overflow: hidden;
	}

	.action-nav-item {
		float: right;
		// @include breakpoint-min(sm) {
		// 	font-size: $scale-6;
		// }
		a {
			display: block;
			color: inherit;
			padding: 0.5em;
			background-color: $bg-low-contrast;
		}
	}

	.donate {
		font-family: $fonts-serif;

		a {
			color: white;
			font-weight: bold;
			background-color: $red;

			&:focus,
			&:hover {
				background-color: darken($red, 10%);
			}
		}
	}

	.action-nav .social {
		display: none;
		@include breakpoint-min(md) {
			display: block;
		}

		a:focus,
		a:hover {
			color: $link-color;
		}
	}

	.action-nav .facebook a {
		padding-left: 1em;
	}

	.action-nav .twitter a {
		padding-right: 1em;
	}
	// SECTION NAV
	> .section-nav {
		float: left;
		margin-left: -0.5em;
		@include breakpoint-min(sm) {}
		@include breakpoint-min(xl) {
			position: absolute;
			z-index: 1;
			bottom: 0.5em;
			left: 21em;

			.home & {
				position: relative;
				left: 0;
				bottom: 0;
			}
		}

		.site-illinois & {
			@include breakpoint-min(sm) {
				position: absolute;
				z-index: 1;
				bottom: 0.5em;
				left: 21em;
			}
		}

		ul {
			display: flex;
		}

		.get-involved,
		.impact,
		.news-apps {
			display: none;
			@include breakpoint-min(sm) {
				display: block;
			}
		}

		.search {
			display: none;
			@include breakpoint-min(lg) {
				display: block;
			}

			form {
				display: none;
			}

			a:focus,
			a:hover {
				color: $link-color;
				background-color: transparent;
			}
		}
	}


	// EMAIL NAV

	.email-nav {
		display: none;
		position: absolute;
		right: 0;
		bottom: 0;
		// width: 100%;
		@include breakpoint-min(lg) {
			display: block;
		}
		@include breakpoint-min(xl) {
			bottom: 0.5em;
		}
		.home & {
			width: 100%;
		}
		ul {
			width: 100%;
		}
	}

	.email-nav a.cta {
		display: block;
		float: right;

		&:focus,
		&:hover {
			color: $link-color;
			background-color: transparent;
		}

		.home & {
			display: none;
		}

		.site-illinois & {
			@include breakpoint-range(lg,xl) {
				position: absolute;
				z-index: 1;
				bottom: 0.5em;
				right: 0;
			}
		}
	}

	.email-nav .icon {
		margin-right: 0.25em;
	}

	.email-nav form {
		display: none;
	}

	.home & .email-nav form {
		@include breakpoint-min(md) {
			display: block;
			position: absolute;
			right: 0;
			bottom: 1em;
			width: colspan(4,12);
		}

		.cta {
			display: block;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}


	// MORE NAV

	.more-nav {
		float: right;
		margin-right: -0.5em;
		@include breakpoint-min(sm) {
			position: absolute;
			right: -0.5em;
			margin-right: 0;
		}
		@include breakpoint-min(lg) {
			display: none;
		}

		.site-illinois & {
			@include breakpoint-min(sm) {
				position: absolute;
				z-index: 1;
				bottom: 0.5em;
				right: -0.5em;
			}
		}

		.org-nav {
			@include breakpoint-min(md) {
				display: none;
			}
		}

		.section-nav {
			@include breakpoint-min(sm) {
				display: none;
			}
		}

		.social-nav {
			@include breakpoint-min(md) {
				display: none;
			}
		}

		.cta {
			display: inline;
		}
	}


	// SUBNAV

	.with-subnav:focus > *:first-child,
	.with-subnav:hover > *:first-child {
		color: white;
		background-color: $pp-blue;
	}

	.with-subnav > *:first-child:after {
		content: " ▼";
		font-size: 0.75em;
	}

	// .with-subnav:focus .subnav,
	// .with-subnav:hover .subnav
	.collapsible-expanded .subnav {
		display: block;
	}

	// .topics:focus .subnav,
	// .topics:hover .subnav,
	// .series:focus .subnav,
	// .series:hover .subnav
	.collapsible-expanded.topics .subnav,
	.collapsible-expanded.series .subnav {
		left: -0.5em;
		@include breakpoint-min(xl) {
			left: 0;
		}
	}

	.collapsible-expanded.series .subnav {
		@include breakpoint-min(sm) {
			left: auto;
		}
	}

	// .more-nav:focus .subnav,
	// .more-nav:hover .subnav
	.collapsible-expanded.more-nav .subnav {
		left: auto;
		right: -0.5em;
		@include breakpoint-min(sm) {
			right: 0;
		}
	}

	.subnav {
		display: none;
		position: absolute;
		left: 0;
		width: 100%;
		width: calc(100% + 1em);
		@include breakpoint-min(sm) {
			left: auto;
			width: 20em;
		}
		background: $pp-blue;

		h2 {
			color: $page-bg-color;
			font-size: $scale-4;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: $letter-spacing-base;
			padding: ($scale-5 / 2) $scale-5;
			margin-top: 1em;
		}

		ul {
			display: block;

			&.featured {
				border-bottom: 1px solid $page-bg-color;
			}
		}

		a {
			display: block;
			color: $page-bg-color;
			font-weight: normal;
			text-transform: none;
			letter-spacing: 0;
			padding: 0.5em;

			&:focus,
			&:hover {
				background-color: lighten($pp-blue, 20%);
			}
		}

		.current {
			display: none;
		}

		.series-entry {
			display: flex;
			// justify-content: space-between;
			padding: 0.5em 1em;
		}

		.lead-art {
			min-width: 5em;
			width: 5em;
			margin-right: 1em;
		}

		.series-header {
			width: auto;
		}

		.series-title {
			color: $page-bg-color;
		}

		.series-description {
			@include breakpoint-min(md) {
				font-size: $scale-4;
			}
		}
	}

	.subnav-item {
		float: none;
	}

	.subnav-item a {
		padding: 1em;
	}

	.see-all {
		border-top: 1px solid $page-bg-color;
		margin-top: 1em;
	}


	// MASTHEAD COMPACT

	&.compact {
		padding-top: $scale-3;
		border-width: 3px;

		.logo {
			width: 14em;
			margin-bottom: 0.6em;
		}

		.site-illinois & .logo {
			width: 8.5em;
			height: 1.85em;
			background-image: url("../images/logo-propublica-illinois-small.svg");
			background-repeat: no-repeat;
			background-size: 100%;

			img {
				display: none;
			}
		}

		.action-nav .social {
			display: none;
		}

		.donate a {
			@include breakpoint-min(sm) {
				font-size: $scale-5;
			}
		}

		> .org-nav {
			display: none;
			// top: -3.5em;
			// &:before {
			// 	top: -($scale-4);
			// }
		}

		> .email-nav,
		.more-nav,
		> .section-nav {
			display: none;
		}

		.section-nav {
			@include breakpoint-min(md) {
				display: block;
				position: absolute;
				left: 15em;
				bottom: 0;

				.site-illinois & {
					left: 9.5em;
				}

				.get-involved,
				.impact,
				.news-apps,
				.search {
					display: none;
				}
			}
		}

		.more-nav {
			@include breakpoint-min(md) {
				display: block;
				position: absolute;
				right: 5em;
				bottom: 0;

				.get-involved,
				.impact,
				.news-apps,
				.org-nav,
				.section-nav {
					position: static;
					display: block;
					float: none;
				}
			}
		}
	}


	// MODAL FORMS

	// &.modal-email .email-nav,
	// &.modal-email .email-nav form,
	// &.modal-search .search,
	// &.modal-search .search form,
	// &.modal-search .section-nav .search,
	// &.modal-search .section-nav .search form {
	// 	display: block;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: rgba($pp-blue, 0.75);
	// 	z-index: 101;
	//
	// 	> a {
	// 		display: none;
	// 	}
	//
	// 	fieldset {
	// 		position: absolute;
	// 		top: 50%;
	// 		left: 50%;
	// 		transform: translateX(-50%) translateY(-50%);
	// 		width: 80%;
	// 		max-width: 30em;
	// 		margin-left: auto;
	// 		margin-right: auto;
	// 		@include breakpoint-min(sm) {}
	// 	}
	//
	// 	input[type="email"],
	// 	input[type="search"] {
	// 		border: 2px solid $page-bg-color;
	// 	}
	//
	// }
}


// Modal styles imported from Ethan's styles

.modal {
	color: #fff;
	font-family: $fonts-sans-initial;
	font-size: $scale-6;
	.fonts-loaded & {
		font-family: $fonts-sans;
	}
}

.enhanced .modal {
	display: none;
}

// TODO: Establish better non-fixed fallback for modals
.enhanced .modal.collapsible-enhanced {
	display: block;
	position: absolute;
	left: -1000em;
}

.fixed-supported .modal.collapsible-enhanced {
	background: rgba(0, 0, 0, 0.85);
	bottom: 0;
	left: 0;
	opacity: 0;
	padding: 4vw;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	// -moz-transform: scale(1.75);
	// -ms-transform: scale(1.75);
	// -o-transform: scale(1.75);
	// -webkit-transform: scale(1.75);
	// transform: scale(1.75);
	// -moz-transition: opacity 0.2s, -moz-transform 0.2s;
	// -ms-transition: opacity 0.2s, -ms-transform 0.2s;
	// -o-transition: opacity 0.2s, -o-transform 0.2s;
	// -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	// transition: opacity 0.2s, transform 0.2s;
	z-index: 1000;
}

.fixed-supported .modal.collapsible-expanded {
	opacity: 1;
	pointer-events: initial;
	// -moz-transform: scale(1);
	// -ms-transform: scale(1);
	// -o-transform: scale(1);
	// -webkit-transform: scale(1);
	transform: scale(1);
}

.modal-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 80%;
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
	form {
		display: block;
		width: 100%;
	}
}

// .modal-inner,
// .modal-inner form {
// 	display: flex;
// 	flex: 1;
// 	flex-direction: column;
// 	text-align: center;
// 	align-items: center;
// 	justify-content: center;
// 	height: 100%;
// }

.fixed-supported .modal .collapsible-header {
	position: absolute;
	right: $scale-5;
	right: 2vw;
	top: $scale-5;
	top: 2vw;
	opacity: 0;
	// -moz-transition: opacity 0.2s, -moz-transform 0.2s ease-in-out;
	// -ms-transition: opacity 0.2s, -ms-transform 0.2s ease-in-out;
	// -o-transition: opacity 0.2s, -o-transform 0.2s ease-in-out;
	// -webkit-transition: opacity 0.2s, -webkit-transform 0.2s ease-in-out;
	// transition: opacity 0.2s, transform 0.2s ease-in-out;
	// -moz-transform: scale(0.5) translateY(-$scale-10);
	// -ms-transform: scale(0.5) translateY(-$scale-10);
	// -o-transform: scale(0.5) translateY(-$scale-10);
	// -webkit-transform: scale(0.5) translateY(-$scale-10);
	transform: scale(0.5) translateY(-$scale-10);
	// -moz-transition-delay: 0.4s;
	// -ms-transition-delay: 0.4s;
	// -o-transition-delay: 0.4s;
	// -webkit-transition-delay: 0.4s;
	// transition-delay: 0.4s;
}

.fixed-supported .modal.collapsible-expanded .collapsible-header {
	opacity: 1;
	// -moz-transition-delay: 0;
	// -ms-transition-delay: 0;
	// -o-transition-delay: 0;
	// -webkit-transition-delay: 0;
	// transition-delay: 0;
	// -moz-transform: scale(1) translateY(0);
	// -ms-transform: scale(1) translateY(0);
	// -o-transform: scale(1) translateY(0);
	// -webkit-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0);
}

.hed-form.hed-subscribe {
	display: block;
	margin-bottom: 0.5em;
	.icon {
		vertical-align: -0.2em;
		margin-right: 0.25em;
	}
}


// FORMS

.masthead fieldset,
.modal.collapsible fieldset {
	display: block;
	position: relative;
}

.masthead input,
.modal.collapsible input {
	padding: 0.75em;
}

.masthead input[type="email"],
.masthead input[type="search"],
.modal.collapsible input[type="email"],
.modal.collapsible input[type="search"] {
	display: block;
	-webkit-appearance: textfield;
	width: 100%;
	background-color: $page-bg-color;
	border: 1px solid $pp-blue;
}

.masthead input[type="email"],
.modal.collapsible input[type="email"], {
	padding-right: 7em;
}

.masthead input[type="search"],
.modal.collapsible input[type="search"], {
	padding-right: 5.5em;
}

.masthead input[type="submit"],
.modal.collapsible input[type="submit"] {
	display: block;
	position: absolute;
	right: 1px;
	top: 1px;
	bottom: 1px;
	border-radius: 0;
}

.modal.collapsible input[type="email"],
.modal.collapsible input[type="search"] {
	border: 2px solid $page-bg-color;
}
