@mixin clearfix {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

@mixin fonts( $type ) {
    @if $type == "sans" {
        & {
            font-family: $fonts-sans-initial;
        }
        .fonts-loaded & {
            font-family: $fonts-sans;
        }
    }
    @if $type == "serif" {
        & {
            font-family: $fonts-serif-initial;
        }
        .fonts-loaded & {
            font-family: $fonts-serif;
        }
    }
}
