// ------------------------------------------------------------
// GLOBAL STYLES
// ------------------------------------------------------------

html {
    font-size: 100%; // 16
    @include breakpoint-min(md) {
        font-size: 112.5%; // 18/16
    }
}
body {
    @include fonts( "serif" );
    background-color: $page-bg-color;
    color: $text-color;
    line-height: $line-height-base;
}
@media ( -webkit-min-device-pixel-ratio: 2 ), ( min-resolution: 192dpi ) {
    body {
        color: $text-color-retina;
    }
}

[hidden],
.squelch {
    display: none;
}
.a11y {
    clip: rect( 1px 1px 1px 1px );
    clip: rect( 1px,1px,1px,1px );
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

a {
    transition: 0.2s;
    color: $link-color;
    text-decoration: none;
    border-bottom: 1px solid rgba($link-color,0);
    &:focus,
    &:hover {
        border-bottom: 1px solid rgba($link-color,.6);
    }
}
cite,
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
abbr {
    text-decoration: none;
}
hr {
    border: $border;
    border-width: 1px 0 0;
    margin: $scale-5 0;
}
img {
    display: block;
    width: 100%;
}
.icon {
    fill: currentColor;
    height: 1em;
    vertical-align: baseline;
    width: 1em;
}
