// Invoke josef on `.footer-inner` blocks
@include grid( footer-inner );
@include grid( copyright-inner );

.site-footer,
.site-copyright {
  clear: both;
  background: $bg-low-contrast;
  font-family: $fonts-sans-initial;
  .fonts-loaded & {
    font-family: $fonts-sans;
  }
  font-size: $scale-5;
  margin-top: colspan(p, 2);
  @include breakpoint-min(md) {
    margin-top: colspan(g, 4);
  }
  @include breakpoint-min(lg) {
    margin-top: colspan(g, 6);
  }
  & + .site-footer {
    margin-top: 0;
  }
}

.site-copyright {
  margin-top: 0;
  border-top: 2px solid rgba(255,255,255,0.8);
  background: darken($bg-low-contrast, 5%);
}

.site-footer,
.site-copyright {
  a {
    color: $text-color;
  }
  li {
    margin-bottom: 0.33em;
  }
}

.footer-inner,
.copyright-inner {
  @include clearfix;
  padding: colspan(p, 4) 0;
  @include breakpoint-min(md) {
    padding: colspan(g, 8) 0;
  }
  @include breakpoint-min(lg) {
    padding: colspan(g, 12) 0;
  }
}

.footer-inner > * {
  border-bottom: $border;
  margin-bottom: 1em;
  padding-bottom: 1em;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
  @include breakpoint-min( md ) {
    float: left;
    border-bottom: none;
    width: colspan( 4, 8 );

    &:nth-child( n ) {
      margin-right: colspan( g, 8 );
    }

    &:nth-child( 2n ) {
      margin-right: 0;
    }
  }
  @include breakpoint-min( lg ) {
    margin-bottom: 0;
    padding-bottom: 0;
    width: colspan( 3, 12 );

    &:nth-child( n ) {
      margin-right: colspan( g, 12 );
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.copyright-inner > * {
  width: 50%;
  @include breakpoint-min(md) {
    width: colspan(3, 8);
  }
}

.logo {
  display: block;
  // margin-bottom: 1em;
  // width: colspan(3, 4);
  // @include breakpoint-min(lg) {
  //   width: colspan(2, 3);
  //   // width: 100%;
  // }
}

.logo svg {
  display: block;
  height: auto;
  max-width: 100%;
  @include breakpoint-min(md) {
    max-width: 66%;
  }
}
