.btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: $btn--bg;
    padding: $scale-2;
    border: none;
    color: $btn--text;
}


/*

Search field (standalone)

*/
.app-search {
    @include fonts( "sans" );
}
.app-search .app-search-fields {
    display: flex;
    border-bottom: 1px solid lighten( invert( $default--bg ), 60% );
    margin-bottom: 0.2em;
    padding: 0.4em;
}
.app-search input {
    font-family: inherit;
}
input.app-search-text {
    background: none;
    border: none;
    color: $default--color;
    flex: 1 0 auto;
    font-size: 1em;
}
.app-search-cta svg {
    display: none;
}
.enhanced .app-search-cta svg {
    display: block;
}
.app-search-cta {
    margin-left: 0.2em;
    padding: 0.2em;
}



/*

Search/form “box”

*/
.app-form,
.app-search,
.tabs {
    margin-top: $scale-8;
    margin-bottom: $scale-8;
}
.tabs .app-form {
    margin-top: 0;
}
.app-form {
    background-color: $app-form--bg;
    @include fonts( "sans" );
    padding: colspan( p, 4 );
    @include breakpoint-min( sm ) {
        padding: colspan( p, 6 );
    }
    @include breakpoint-min( md ) {
        padding: colspan( p, 8 );
    }
    @include breakpoint-min( lg ) {
        padding: colspan( p, 12 );
    }
}
.pg-main > div .app-form {
    @include breakpoint-min( md ) {
        padding: colspan( p, 6 );
    }
    @include breakpoint-min( lg ) {
        padding: colspan( p, 8 );
    }
}
.form-title {
    flex: 1 0 100%;
    font-size: $scale-5;
    font-weight: bold;
}
.app-form .form-title label {
    font-size: inherit;
}
// Specificity hack
.app-form .form-title {
    margin-bottom: $scale-3;
    text-align: left;
}
.app-form p {
    margin-bottom: 0;
}
.form-group {
    margin-bottom: $scale-4;
    @include breakpoint-min( md ) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.form-group:last-child {
    margin-bottom: 0;
}
.app-form .field {
    margin-bottom: $scale-4;
    @include breakpoint-min( md ) {
        margin-bottom: 0;
        margin-right: colspan( g, 8 );
    }
    @include breakpoint-min( lg ) {
        margin-right: colspan( g, 12 );
    }
    flex: 1 1 0%;
}
.app-form .p-more {
    flex: 1 1 50%;
}
.app-form .p-less {
    flex: 1 1 8em;
}
.app-form label {
    display: block;
    font-size: $scale-5;
}
.app-form .info {
    font-size: $scale-4;
}
.field label {
    margin-bottom: $scale-2;
}
.app-form select,
.app-form [type="text"],
.app-form [type="search"] {
    font-family: inherit;
    display: block;
    width: 100%;
}
.app-form select {
    font-size: 0.7em;
}
.app-form [type="text"],
.app-form [type="search"] {
    border-width: 0;
    font-size: $scale-5;
    padding: $scale-1;
}
.app-form .btn-icon {
    cursor: pointer;
    margin-top: auto;
    text-align: right;
}
.btn-icon .icon {
    vertical-align: middle;
}

/* Tabs! */
// Specificity hack
ul.tabnav {
    margin: 0;
    padding-left: 0;
}
.tabnav {
    @include fonts( "sans" );
    display: flex;
    align-items: flex-end;
}
.tabnav li {
    margin-right: $scale-2;
    flex: 0 1 auto;
    list-style: none;
    padding: 0;
}
.tabnav a {
    background: lighten( $app-form--bg, 2% );
    border-radius: $scale-1 $scale-1 0 0;
    border: none;
    color: $default--color;
    font-size: $scale-5;
    line-height: 1.15;
    display: block;
    padding: $scale-1 $scale-3;
    text-decoration: none;
}
.tabnav a:focus,
.tabnav a:hover {
    background: darken( $app-form--bg, 2% );
    border-bottom: none;
}
.tabnav .tab-active,
.tabnav .tab-active:focus,
.tabnav .tab-active:hover {
    background: $app-form--bg;
    font-weight: bold;
}



/*

Search results

*/
// Specificity hack
ol.search-results,
ol.search-results ul,
ol.search-results li {
    padding-left: 0;
    list-style: none;
}
.search-results {
    border-top: $border;
}
.search-results > li {
    border-bottom: $border;
    padding: $scale-6;
}
.search-results .result > :last-child {
    margin-bottom: 0;
}
.result {
    @include fonts( "sans" );
    font-size: $scale-5;
}
a.result,
a.result:hover,
a.result:focus {
    border: none;
    color: inherit;
}
// Specificity hack
.result .hed-result {
    color: $link-color;
    font-size: $scale-6;
    font-weight: normal;
    margin-bottom: $scale-3;
    text-align: left;
}
.hed-result {
    @include fonts( "serif" );
    border-bottom: 1px solid transparent;
    display: inline-block;
    transition: color 0.2s, border-color 0.2s;
}
a:hover .hed-result,
a:focus .hed-result {
    color: lighten( $link-color, 10% );
    border-bottom-color: lighten( $link-color, 10% );
}
.result .result-excerpt {
    margin-bottom: $scale-3;
}
.result-excerpt mark {
    font-weight: bold;
    padding: 0.1em;
}
.result ul.result-meta {
    color: lighten( $default--color, 45% );
    font-size: $scale-4;
    line-height: $line-height-base;
    margin: 0 0 $scale-3;
    padding: 0;
    list-style: none;
}
.result-meta li {
    display: inline-block;
}
.result-meta li:after {
    content: " — ";
}
.result-meta li:last-child:after {
    content: "";
}



/*

Email signup form

*/
.email-signup {
    margin: $scale-8 auto;
    text-align: center;
}
.email-signup [type="email"],
.email-signup [type="text"],
.email-signup .btn,
.email-signup .hed-form {
    @include fonts( "sans" );
}
.email-signup [type="email"],
.email-signup [type="text"],
.email-signup .btn {
    display: block;
    font-size: inherit;
    margin-left: auto;
    margin-right: auto;
    max-width: 24em;
    text-align: center;
    padding: $scale-3;
    width: 100%;
}
.email-signup input {
    margin-top: $scale-5;
}
.email-signup .label-main {
    display: block;
    font-size: $scale-5;
    margin-bottom: $scale-6;
}
.email-signup .btn {
    border-radius: ( $scale-1 / 2 );
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}
.email-signup .btn:focus,
.email-signup .btn:hover {
    background: $btn--bg--active;
    color: $btn--text--active;
}

// Inset variant
.aside .email-signup {
    text-align: left;
    margin: 0;
}
.aside .email-signup .hed-form {
    font-family: inherit;
}
.aside .email-signup .label-main {
    font-size: 0.95em;
    margin-bottom: 0;
}
.aside .email-signup input {
    margin-top: $scale-3;
}
