/*

“Miniature” masthead - core styles

*/

// Invoke josef on `.mast-inner` blocks
@include grid( mast-inner );

.site-mast-mini {
    background-color: #FFF;
    color: #000;
    @include fonts( "sans" );
    margin-bottom: colspan(p, 4);
    @include breakpoint-min(md) {
        margin-bottom: colspan(g, 8);
    }
    @include breakpoint-min(lg) {
        margin-bottom: colspan(g, 12);
    }
}
.mast-inner {
    @include clearfix;
}
.site-mast-mini .icon,
.site-mast-mini a {
    color: inherit;
    border-bottom: none;
}
.site-mast-mini a:hover,
.site-mast-mini a:focus {
    border-bottom: none;
    text-decoration: none;
}
.site-mast-mini .mast-content {
    display: table;
    width: 100%;
}
.site-mast-mini .mast-content > * {
    display: table-cell;
}
.site-mast-mini.waypoint-header-exited {
    background: #f7f7f7;
    background: rgba(247,247,247,0.9);
}

.site-mast-mini .site-logo {
    padding: 0;
    padding-right: $scale-3;
    vertical-align: middle;
    width: 140px;
}
@supports ( display: flex ) {
    .site-mast-mini .site-logo {
        padding-right: 0;
        max-width: inherit;
    }
}
.site-mast-mini .site-logo .icon {
    display: block;
    height: 1.2em;
    max-width: 100%;
    width: inherit;
}
@supports ( display: flex ) {
    .site-mast-mini .site-logo .icon {
        margin-top: -0.2em;
        width: 100%;
    }
}
.site-mast-mini .project-name {
    font-size: $scale-5;
    padding-left: $scale-3;
    position: relative;
    text-transform: uppercase;
    width: 50%;
}
.site-mast-mini .project-name:after {
    background: $mast-text--light;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 50%;
    height: 1.5em;
    width: 1px;
}
@supports ( display: flex ) {
    .site-mast-mini .project-name:after {
        top: -3px;
        height: auto;
    }
}
.site-mast-mini .project-name a:hover,
.site-mast-mini .project-name a:focus {
    color: $link-color;
}
.site-mast-mini .nav-social-menu {
    text-align: right;
    width: 50%;
}
@supports ( display: flex ) {
    .site-mast-mini .nav-social-menu {
        margin-left: auto;
        width: auto;
    }
}
.site-mast-mini .icon {
    display: inline-block;
}
.site-mast-mini .icon-label {
    margin-left: $scale-3;
}
// Donate links
a.link-pp-donate {
    background-color: $nav-red;
    border-radius: 0 0 0.2em 0.2em;
    color: #FFF;
    display: inline-block;
    font-family: $fonts-serif-initial;
    .fonts-loaded & {
        font-family: $fonts-serif;
    }
    font-weight: bold;
    padding: $scale-3;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
a.link-pp-donate:hover {
    background-color: $nav-dark-red;
}
.site-mast-mini .link-pp-donate {
    align-self: flex-start;
    display: inline-block;
    font-size: $scale-5;
    margin-bottom: 0.2em;
    margin-left: auto;
}
.site-mast-mini a.link-pp-donate {
    color: #FFF;
    text-align: center;
}

.mast-mini--light {
    background: $mast-bg--light;
    color: $mast-text--light;
}

.mast-mini--dark {
    background-color: $mast-bg--dark;
    color: $mast-text--dark;
}
.mast-mini--dark .icon {
    fill: $page-bg-color;
}
.mast-mini--dark a {
    color: $page-bg-color;
}
.mast-mini--dark .project-name:after {
    background: $mast-text--dark;
}

// Social links
.nav-social-menu {
    display: flex;
}
.nav-social-item {
    display: inline-block;
}
.nav-social-link {
    display: block;
    font-size: $scale-5;
    font-weight: bold;
    padding: $scale-3;
    text-transform: uppercase;
}
.nav-email-item {
    margin-left: $scale-4;
    position: relative;
    padding-left: $scale-4;
}
.nav-email-item:after {
    background: $mast-text--light;
    bottom: 0.5em;
    content: "";
    left: 0;
    position: absolute;
    top: 0.35em;
    width: 1px;
}
.mast-mini--dark .nav-email-item:after {
    background-color: $mast-text--dark;
}

@supports ( display: flex ) {
    .site-mast-mini .mast-content {
        align-items: center;
        display: flex;
    }
    .site-mast-mini .mast-content > * {
        display: block;
    }
}

@include breakpoint-max( sm ) {
    .site-mast-mini .project-name {
        font-size: .8rem;
        margin-top: 0;
    }
    .site-mast-mini .site-logo {
        max-width: 100px;
        margin-right: 5px;
    }
    .site-mast-mini .nav-social-menu {
        display: none;
    }
}
@include breakpoint-min( sm ) {
    .site-mast-mini .site-logo {
        padding-left: 0;
        padding-right: 0.5em;
    }

    @supports ( display: flex ) {
        .site-mast-mini .nav-social-menu {
            display: flex;
        }
    }

    .site-mast-mini .link-pp-donate {
        margin-left: $scale-3;
    }
}


/*

FIXED/SCROLLING HEADER

NOTE: I typically recommend against nesting selectors in Sass, but since we’re overriding much of the work that’s come before, it’s helpful to condition the below against html.fixed-supported (js/lib/fixedfixed.js).

*/
.fixed-supported {

    // When the masthead is scrolling, we need to add a bit of margin above the content to account for the missing space. Smooths out the state transition a bit.
    .has-fixed-masthead .pg-main {
        margin-top: 4.5em;         /* 72/16 */
    }

    .site-mast-mini-fixed.is-fixed {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: background 0.2s, color 0.2s, opacity 0.2s;
        z-index: 100;
    }

    .site-mast-mini-fixed.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    .mast-mini--light.is-scrolling {
        background-color: $mast-bg--light--scrolling;
        color: $mast-text--light--scrolling;
    }
    .mast-mini--light.is-scrolling .project-name:after,
    .mast-mini--light.is-scrolling .nav-email-item:after {
        background: $mast-text--light--scrolling;
    }

    .mast-mini--dark.is-scrolling {
        background-color: $mast-bg--dark--scrolling;
        color: $mast-text--dark--scrolling;
    }
    .mast-mini--dark.is-scrolling .project-name:after,
    .mast-mini--dark.is-scrolling .nav-email-item:after {
        background: $mast-text--dark--scrolling;
    }

}

