/*

Subnav

*/
.subnav {
    background: $default--bg;
    font-family: $fonts-sans;
    font-size: $scale-5;
}
.subnav.js-is-sticky {
    background: rgba( 255, 255, 255, 0.995 );
    padding-top: 1em;
    margin-top: -1em;
    z-index: 1;
}
.subnav .hed-subnav,
.subnav ol {
    border: $border;
    margin: 0;
    padding: 0;
}
.subnav li {
    border-bottom: $border;
    list-style: none;
    padding-left: none;
}
.subnav li:last-child {
    border-bottom: none;
}
.subnav a {
    border: none;
    display: block;
    padding: $scale-1;
}
.subnav a:hover,
.subnav a:focus {
    color: lighten( $link-color, 10% );
}
.subnav a:target {
    font-weight: bold;
    color: inherit;
}
.subnav .hed-subnav {
    border-bottom: none;
    font-size: inherit;
    margin: 0;
    padding: $scale-1;
    text-align: left;
}
.subnav .collapsible-enhanced {
    border-bottom: $border;

    .collapsible-header {
        cursor: pointer;
        position: relative;
        padding-right: 2em;

        &:focus .series-title,
        &:hover .series-title {
            color: $link-color;
        }

        &:after {
            position: absolute;
            right: $scale-1;
        }
    }

    @include breakpoint-min( lg ) {
        border-bottom: none;
        .collapsible-content {
            display: block;
        }
    }
}
.subnav .collapsible-collapsed .collapsible-header:after {
    content: "▼";
}
.subnav .collapsible-expanded .collapsible-header:after {
    content: " ▲";
}
@include breakpoint-min( lg ) {
    .subnav {
        background: $default--bg;
        float: left;
        font-size: 0.7rem;
        margin-left: 0;
        top: $scale-12;
        width: colspan( 2 , 12 );
        z-index: 100;
    }
    .subnav-inner {
        margin-left: 0;
        width: auto;
    }
    .subnav.js-is-sticky {
        padding-top: 0;
        margin-top: 0;
        z-index: 100;
    }
    .subnav .hed-subnav,
    .subnav a {
        padding-left: 0;
    }
    .subnav .hed-subnav {
        border: none;
        border-bottom: $border;
        font-weight: normal;
    }
    .subnav ol {
        border: none;
    }
    .subnav li:last-child {
        border-bottom: $border;
    }
    .subnav .collapsible .collapsible-header {
        cursor: default;
    }
    .subnav .collapsible .collapsible-header:after {
        content: "";
    }
    @media (max-height: $subnav--height) {
        .subnav.js-is-sticky {
            // TODO: Figure out how to un-!important this, if possible. (Our `position: sticky` polyfill inlines some CSS, which…is not great.)
            position: static !important;
        }
    }
    @media (min-height: $subnav--height) {
        .subnav.js-is-sticky {
            position: sticky;
            transition: opacity 0.2s;
            // TODO: Figure out how to un-!important this, if possible. (Our `position: sticky` polyfill inlines some CSS, which…is not great.)
            top: 2em !important;
        }
        .has-fixed-masthead .subnav.js-is-sticky {
            // TODO: Figure out how to un-!important this, if possible. (Our `position: sticky` polyfill inlines some CSS, which…is not great.)
            top: 5em !important;
        }
        .subnav.is-hidden {
            opacity: 0;
            pointer-events: none;
        }
    }
}
@media (min-width: $max-width) {
    .fixed-supported .subnav {
        font-size: $scale-4;
        max-width: ( ( $col * 2 ) + ( $pad * 2 ) + $gut ) + 0px;
    }
}



/*

Breadcrumbs

*/
div .breadcrumbs {
    margin-top: 0;
    padding-left: 0;
    text-align: left;
}
.breadcrumbs {
    @include fonts( "sans" );
    font-size: $scale-5;
}
.breadcrumbs li {
    font-weight: bold;
    list-style: none;
}
@for $i from 2 through 10 {
    .breadcrumbs li:nth-child( #{$i} ) {
        padding-left: $i - 1em;
    }
}
@include breakpoint-min( md ) {
    .breadcrumbs li {
        display: inline;
    }
    .breadcrumbs li:nth-child( n ) {
        padding-left: 0;
    }
}
.breadcrumbs li:after {
    content: " › ";
    font-weight: normal;
}
.breadcrumbs li:last-child:after {
    content: "";
}
.breadcrumbs a {
    font-weight: normal;
}



/*

Pagination

*/
.pagination {
    @include fonts( "sans" );
    display: flex;
    flex-wrap: wrap;
    @include breakpoint-min( md ) {
        flex-wrap: nowrap;
    }
    font-size: $scale-5;
    font-weight: bold;
    margin-bottom: $scale-6;
    justify-content: center;
}
@include breakpoint-max( md ) {
    .pagination:before {
        content: "";
        order: 0;
        width: 100%;
    }
    .pagination .first,
    .pagination .last,
    .pagination .prev,
    .pagination .next {
        margin-bottom: $scale-2;
        order: -1;
        width: 25%;
    }
}
.pagination a,
.pagination .current {
    border: $border;
    display: block;
    margin-left: -1px;
    min-width: 2.5em;
    padding: $scale-3;
    text-align: center;
    white-space: nowrap;
}
.pagination > :first-child {
    border-left: $border;
}
.pagination a:hover,
.pagination a:focus {
    background: $bg-low-contrast;
}
.pagination .current {
    background: $link-color;
    border-color: $link-color;
    color: $default--bg;
}
