/*

Table styles

*/
table,
.container-shortened {
    margin-bottom: $scale-9;
    margin-top: $scale-9;
}
table {
    @include fonts( "sans" );
    border: 1px solid $border-color;
    font-size: $scale-5;
    text-align: left;
    width: 100%;
}
th {
    font-weight: bold;
    background: lighten( $border-color, 12% );
}
th,
td {
    border: 1px solid $border-color;
    padding: $scale-3;
    &.numeric {
        -webkit-font-feature-settings: "tnum" 1;
        -moz-font-feature-settings: "tnum" 1;
        -ms-font-feature-settings: "tnum" 1;
        font-feature-settings: "tnum" 1;
        text-align: right;
    }
}
@include breakpoint-max( md ) {
    th.small,
    td.small {
        width: 2em;
    }
}

.table--dense {
    font-size: $scale-5;
}
.table--dense th,
.table--dense td {
    padding: $scale-1;
}

/*
Long tables with “sticky” headers
*/
.table--long,
.stickyclone {
    background: $default--bg;
    position: relative;
    z-index: 10;
}
@include breakpoint-min( lg ) {
    .table--long {
        position: static;
        z-index: auto;
    }
}
.stickyclone.on {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    table-layout: auto;
}

/*
“Shortened” tables
*/
// Override global table styles inside the container-shortened “context”
.container-shortened table {
    border: none;
    margin: 0;
}
.container-shortened thead tr > * {
    border-top: none;
}
.container-shortened tbody tr:last-child > * {
    border-bottom: none;
}
.container-shortened + .stickyclone {
    display: none;
}
.container-shortened-inner {
    border: 1px solid $border-color;
    border-width: 1px 0;
    clear: both;
    min-height: $table-shortened--height-fallback / 2;
    max-height: $table-shortened--height-fallback;
    max-height: $table-shortened--height;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}
// “Caps” appear at the bottom and top of each shortened table, to indicate more content. They’re hidden/shown with a little JavaScript.
.container-shortened-cap {
    height: 4vh;
    pointer-events: none;
    position: sticky;
    width: 100%;
    z-index: 1;
    transition: opacity 0.2s;
}
.container-shortened-cap--top {
    background: linear-gradient( to bottom, rgba( 44, 44, 44, 0.15 ) 0%, rgba( 44, 44, 44, 0 ) 80% );
    top: 0;
    margin-bottom: -4vh;
}
.container-shortened-cap--bottom {
    background: linear-gradient( to top, rgba( 44, 44, 44, 0.15 ) 0%, rgba( 44, 44, 44, 0 ) 80% );
    bottom: 0;
    margin-top: -4vh;
}
// Hide the top cap when we’re at the top of our container, and the bottom one when we’re at the, well, bottom.
.at-top .container-shortened-cap--top,
.at-bottom .container-shortened-cap--bottom {
    opacity: 0;
}

/*
Tablesaw overrides
*/
.tablesaw-fix-persist {
    table-layout: auto;
}
.tablesaw-sortable-btn {
    cursor: pointer;
    padding: 0;
}
.tablesaw-sortable-btn:hover,
.tablesaw-sortable-btn:focus {
    text-decoration: underline;
}
.tablesaw-bar {
    margin-left: 0;
    width: 100%;
}
.tablesaw-bar.tablesaw-all-cols-visible {
    display: none;
}
.tablesaw-all-cols-visible + .tablesaw-sortable .tablesaw-sortable-btn {
    white-space: normal;
}
// “locked” cell styles
.tablesaw-swipe {
    border-right-width: 0;
}
.tablesaw-all-cols-visible + .tablesaw-swipe {
    border-right-width: 1px;
}
.tablesaw-swipe .tablesaw-swipe-cellpersist {
    border-right: 3px solid $table-locked--border;
}
.tablesaw-sortable-head {
    background-color: $table-header--bg;
}
.tablesaw-all-cols-visible + .tablesaw-sortable-head {
    background-color: $table-header--bg;
}
.tablesaw-all-cols-visible + .tablesaw-swipe .tablesaw-swipe-cellpersist,
.tablesaw-all-cols-visible + .tablesaw-swipe + .stickyclone.on .tablesaw-swipe-cellpersist {
    border-right-width: 1px;
}
.tablesaw-all-cols-visible + .tablesaw-swipe tbody .tablesaw-swipe-cellpersist {
    background: $default--bg;
}
// mini-map style
.tablesaw-advance-dots li {
    padding: 0.2em 0.2em 0.4em;
}
.pg-main .tablesaw-advance-dots {
    margin: 0;
    padding: 0;
}
.tablesaw-sortable-head {
    position: static;
}
