.pg-main code {
    font-family: Inconsolata, "Droid Sans Mono", Consolas, monospace;
}
.pg-main p {
    margin-bottom: $scale-6;
}

.pg-main h1,
.pg-main h2,
.pg-main h3,
.pg-main h4,
.pg-main h5,
.pg-main h6 {
    color: $hed-color;
    font-weight: bold;
    margin-top: $scale-8;
    margin-bottom: $scale-6;
    text-align: center;
    &:first-child {
        margin-top: 0;
    }
}

// News apps header auto override
.pg-main.newsapp h2,
.pg-main.newsapp h3,
.pg-main.newsapp h4,
.pg-main.newsapp h5,
.pg-main.newsapp h6 {
    text-align: left;
}

.pg-main > h1 {
    font-size: $scale-7;
    @include breakpoint-min(md) {
        font-size: $scale-8;
        line-height: $line-height-shorter;

        + p {
            margin-top: $scale-2;
        }
    }
}
.pg-main > h2 {
    font-size: $scale-6;
    @include breakpoint-min(md) {
        font-size: $scale-7;

        + p {
            margin-top: $scale-2;
        }
    }
}
.pg-main > h3,
.pg-main > h4,
.pg-main > h5 {
    font-size: $scale-5;
    margin-bottom: $scale-2;
    @include breakpoint-min(md) {
        font-size: $scale-6;
        margin-bottom: $scale-4;
    }
}
.pg-main > h4,
.pg-main > h5,
.pg-main > h6 {
    @include fonts( "sans" );
}
.pg-main > h6 {
    font-size: $scale-4;
    margin-bottom: $scale-2;
    text-transform: uppercase;
    @include breakpoint-min(md) {
        font-size: $scale-5;
    }
}

.pg-main ol,
.pg-main ul {
    list-style-image: none;
    list-style-position: outside;
    margin-bottom: $scale-8;
    margin-top: $scale-8;
    padding-left: 2em;
}
.pg-main ul {
    list-style-type: disc;
}
.pg-main ol {
    list-style-type: decimal;
}
.pg-main li ol,
.pg-main li ul {
    margin: $scale-5 0 $scale-5 2em;
}

sup {
    @include fonts( "sans" );
    border-radius: $scale-1;
    font-size: $scale-3;
    font-weight: bold;
    margin-left: 0.1rem;
    padding: 0 0.2rem;
    vertical-align: super;
}
a:hover,
a:focus sup {
    border: none;
}

hr {
    background: $border-color;
    border: none;
    height: 1px;
    margin: $scale-8 auto;
    outline: none;
    width: 10em;
}

.pg-main a:focus,
.pg-main a:hover {
    text-decoration: underline;
}

/*

Front matter

*/
.pg-main .hed {
    font-size: $scale-8;
    @include breakpoint-min( sm ) {
        font-size: $scale-9;
    }
    @include breakpoint-min( md ) {
        font-size: $scale-10;
    }
    line-height: $line-height-shortest;
}
.pg-main .hed-lead,
.pg-main .hed-sub {
    @include breakpoint-min( lg ) {
        margin-left: colspan( 2, 12 ) + colspan( g, 12 );
        width: colspan( 8, 12 );
    }
}
.pg-main .hed-sub {
    @include fonts( "sans" );
    font-size: $scale-7;
}

// News apps subhead default style override
.pg-main.newsapp .hed-sub {
    font-size: $scale-6;
    text-align: center;
}
.pg-main .byline,
.pg-main .dateline {
    @include fonts( "sans" );
    font-size: $scale-5;
    font-style: italic;
    font-weight: normal;
    margin-top: $scale-8;
    text-align: center;
}
.pg-main .byline {
    margin-top: 0;
    margin-bottom: 0;
}
.pg-main .dateline {
    font-style: normal;
}



/*

Figure styles

*/
figure {
    @include fonts( "sans" );
}
figure img,
figure table {
    margin-bottom: $scale-6;
}
.pg-main img,
figure img {
    margin-left: auto;
    margin-right: auto;
}
figure img {
    max-height: inherit;
}
figure table {
    margin-top: $scale-6;
}
.footnotes,
figure .info {
    color: lighten( $default--color, 45% );
    font-size: 0.7rem;
    line-height: $line-height-base;
}
figure .info > * {
    margin-bottom: 0.7rem;
}
figure {
    clear: both;
    margin-bottom: $scale-8;
    margin-top: $scale-8;
}
figure h3 {
    font-size: inherit;
    text-align: left;
    margin-bottom: 0;
}
.medium figure img,
.full figure img {
    max-width: inherit;
}
// When the figcaption’s above the image, let’s bump up the font size
figure figcaption:first-child {
    font-size: $scale-5;
}
figure figcaption:first-child h3 {
    font-size: $scale-6;
}
.medium figure figcaption:first-child > h3,
.full figure figcaption:first-child > h3 {
    font-size: $scale-7;
}
figure > div:last-child {
    border-bottom: $border;
}
.medium figure figcaption,
.medium figure > div:last-child {
    @include breakpoint-min( lg ) {
        margin-left: colspan( 1, 10 ) + colspan( g, 10 );
        width: colspan( 8, 10 );
    }
}
.full figure figcaption,
.full figure > div:last-child {
    @include breakpoint-min( sm ) {
        margin-left: colspan( 1, 6 ) + colspan( g, 6 );
        width: colspan( 4, 6 );
    }
    @include breakpoint-min( md ) {
        margin-left: colspan( 1, 8 ) + colspan( g, 8 );
        width: colspan( 6, 8 );
    }
    @include breakpoint-min( lg ) {
        margin-left: colspan( 2, 12 ) + colspan( g, 12 );
        width: colspan( 8, 12 );
    }
}

.aside {
    @include fonts( "sans" );
    font-size: $scale-5;
    margin-bottom: $scale-8;
}
.aside figure {
    margin: 0;
}
.aside h3,
.aside h3:first-child {
    margin: $scale-1 0 0;
    text-align: left;
}
.aside figcaption,
.aside h3,
figure figcaption:first-child h3 {
    font-size: inherit;
}
.aside figure > :last-child:not( img ) {
    border-bottom: none;
}
.aside hr {
    margin: $scale-6 auto;
    width: 100%;
}
@include breakpoint-min( md ) {
    .aside {
        clear: left;
        float: left;
        margin-left: 0;
        margin-right: colspan( g, 8 );
        width: colspan( 3, 8 );
    }
    .aside--alt {
        clear: right;
        float: right;
        margin-left: colspan( g, 8 );
        margin-right: 0;
    }
}
@include breakpoint-min( lg ) {
    .aside {
        margin-left: colspan( 2, 12 ) + colspan( g, 12 );
        margin-right: colspan( g, 12 );
        width: colspan( 2, 12 );
    }
    .aside-medium {
        margin-left: colspan( 1, 12 ) + colspan( g, 12 );
        margin-right: colspan( g, 12 );
        width: colspan( 3, 12 );
    }
    .aside-large {
        margin-left: 0;
        margin-right: colspan( g, 12 );
        width: colspan( 4, 12 );
    }
    .aside--alt {
        margin-left: colspan( g, 12 );
        margin-right: colspan( 2, 12 ) + colspan( g, 12 );
    }
    .aside--alt.aside-medium {
        margin-left: colspan( g, 12 );
        margin-right: colspan( 1, 12 ) + colspan( g, 12 );
    }
    .aside--alt.aside-large {
        margin-left: colspan( g, 12 );
        margin-right: 0;
    }
}



/*

Inset block

*/
.inset-promo {
    @include fonts( "serif" );
}
@include breakpoint-min( lg ) {
    .inset-promo.aside--alt.aside-medium {
        margin-left: colspan( 0.75, 12 );
    }
}
.inset-promo h3 a {
    color: inherit;
}
.inset-promo p {
    font-size: 0.95em;
}
.inset-promo img {
    display: block;
    margin-bottom: $scale-5;
}



/*

Feltron numbers

*/
.number {
    @include fonts( "sans" );
    color: $default--color;
    font-size: $scale-5;
    line-height: $line-height-shorter;
    max-width: 20em;
    margin: 0 0 1em;
}
.col .number {
    margin: 0;
    max-width: inherit;
}
// Specificity hack
.hed.hed-number {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: left;
    margin-bottom: 0;
}
.number p {
    margin-bottom: $scale-2;
}
// The `strong` element is our big number
.number strong {
    @include fonts( "serif" );
    color: $number--color;
    display: block;
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 0.1em;
}
// Size classes for number
.number--x-small strong {
    font-size: 1.25em;
}
.number--small strong {
    font-size: 1.75em;
}
.number--medium strong {
    font-size: 2.25em;
}
.number--large strong {
    font-size: 2.75em;
}
.number--x-large strong {
    font-size: 3.25em;
}
.number > :last-child {
    border: none;
}

.number a {
    border: none;
    display: block;
}
.number a:hover,
.number a:focus {
    color: lighten( $link-color, 10% );
}
.rank-scale {
    position: relative;
    padding-top: 9px;
    margin-top: $scale-6;
    max-width: 140px;
}
.rank-marker {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $default--color;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    transition: transform 0.2s;
    transform-origin: 50% 100%;
    width: 0;
    a:hover &,
    a:focus & {
        transform: scale( 1.25 );
    }
}
.rank-labels {
    border-top: 1px solid lighten( $default--color, 45% );
    font-size: $scale-4;
    display: flex;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
ul.rank-labels {
    color: lighten( $default--color, 45% );
    justify-content: space-between;
    margin: 0 0 $scale-2;
    padding: $scale-1 0 0;
}
.rank-labels li {
    list-style: none;
}
